net/ITPI.Net.Libraries/ConsoleAppClient/Service References/ITPIService/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:8888/Services/ITPI/Service1.asmx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:8888/Services/ITPI/Service1.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:8888/Services/ITPI/Service1.asmx">
      <s:element name="Message">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departemen" type="tns:Department" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Department">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel" />
      <s:element name="InsertDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertDepartmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employee" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NIK" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DateCreated" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="LastUpdate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdatedBy" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Section" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Department" type="tns:Department" />
              <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Roles" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Roles">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Authority" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertEmployeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendor" type="tns:Vendor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Vendor">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NPWP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:City" />
              <s:element minOccurs="0" maxOccurs="1" name="Province" type="tns:Province" />
              <s:element minOccurs="0" maxOccurs="1" name="BankAccountName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BankAccountNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="City">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Province" type="tns:Province" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Province">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertVendorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="tns:City" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProvince">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prov" type="tns:Province" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProvinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertProvinceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pr" type="tns:PurchaseRequisition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PurchaseRequisition">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Confirmed" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertPRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertPRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPrLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prl" type="tns:PurchaseRequisitionLine" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PurchaseRequisitionLine">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UnitCost" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="LineCost" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Tax" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="PR" type="tns:PurchaseRequisition" />
              <s:element minOccurs="1" maxOccurs="1" name="LineNumber" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertPrLineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertPrLineResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:BaseModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MessageSoapIn">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="MessageSoapOut">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDepartment" />
  </wsdl:message>
  <wsdl:message name="InsertDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertVendorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertVendor" />
  </wsdl:message>
  <wsdl:message name="InsertVendorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertVendorResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCitySoapIn">
    <wsdl:part name="parameters" element="tns:InsertCity" />
  </wsdl:message>
  <wsdl:message name="InsertCitySoapOut">
    <wsdl:part name="parameters" element="tns:InsertCityResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProvinceSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProvince" />
  </wsdl:message>
  <wsdl:message name="InsertProvinceSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPRSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPR" />
  </wsdl:message>
  <wsdl:message name="InsertPRSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPRResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPrLineSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPrLine" />
  </wsdl:message>
  <wsdl:message name="InsertPrLineSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPrLineResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="MessageHttpGetIn">
    <wsdl:part name="request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MessageHttpPostIn">
    <wsdl:part name="request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Message">
      <wsdl:input message="tns:MessageSoapIn" />
      <wsdl:output message="tns:MessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <wsdl:input message="tns:InsertDepartmentSoapIn" />
      <wsdl:output message="tns:InsertDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input message="tns:InsertEmployeeSoapIn" />
      <wsdl:output message="tns:InsertEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertVendor">
      <wsdl:input message="tns:InsertVendorSoapIn" />
      <wsdl:output message="tns:InsertVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <wsdl:input message="tns:InsertCitySoapIn" />
      <wsdl:output message="tns:InsertCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProvince">
      <wsdl:input message="tns:InsertProvinceSoapIn" />
      <wsdl:output message="tns:InsertProvinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPR">
      <wsdl:input message="tns:InsertPRSoapIn" />
      <wsdl:output message="tns:InsertPRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPrLine">
      <wsdl:input message="tns:InsertPrLineSoapIn" />
      <wsdl:output message="tns:InsertPrLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="Message">
      <wsdl:input message="tns:MessageHttpGetIn" />
      <wsdl:output message="tns:MessageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="Message">
      <wsdl:input message="tns:MessageHttpPostIn" />
      <wsdl:output message="tns:MessageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVendor">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProvince">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPR">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertPR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPrLine">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertPrLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/Message" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVendor">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProvince">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertProvince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPR">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertPR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPrLine">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/InsertPrLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://localhost:8888/Services/ITPI/Service1.asmx/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Message">
      <http:operation location="/Message" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Message">
      <http:operation location="/Message" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:8888/Services/ITPI/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:8888/Services/ITPI/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://localhost:8888/Services/ITPI/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://localhost:8888/Services/ITPI/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>