net/ITPI.Net.Libraries/WebServices/Service References/AxEprocService/EprocAxMaximoServiceGroup1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tpsdmax:8101/DynamicsAx/Services/EprocAxMaximoServiceGroup?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://tpsdmax:8101/DynamicsAx/Services/EprocAxMaximoServiceGroup?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://tpsdmax:8101/DynamicsAx/Services/EprocAxMaximoServiceGroup?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://tpsdmax:8101/DynamicsAx/Services/EprocAxMaximoServiceGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tpsdmax:8101/DynamicsAx/Services/EprocAxMaximoServiceGroup?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://tpsdmax:8101/DynamicsAx/Services/EprocAxMaximoServiceGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EprocAxMaximoServiceCheckMaximoRequest">
    <wsdl:part name="parameters" element="tns:EprocAxMaximoServiceCheckMaximoRequest" />
  </wsdl:message>
  <wsdl:message name="EprocAxMaximoServiceCheckMaximoRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="EprocAxMaximoServiceCheckMaximoResponse">
    <wsdl:part name="parameters" element="tns:EprocAxMaximoServiceCheckMaximoResponse" />
  </wsdl:message>
  <wsdl:message name="EprocAxMaximoService_checkMaximo_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:portType name="EprocAxMaximoService">
    <wsdl:operation name="checkMaximo">
      <wsdl:input wsaw:Action="http://tempuri.org/EprocAxMaximoService/checkMaximo" name="EprocAxMaximoServiceCheckMaximoRequest" message="tns:EprocAxMaximoServiceCheckMaximoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/EprocAxMaximoService/checkMaximoResponse" name="EprocAxMaximoServiceCheckMaximoResponse" message="tns:EprocAxMaximoServiceCheckMaximoResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/EprocAxMaximoService/checkMaximoAifFaultFault" name="AifFaultFault" message="tns:EprocAxMaximoService_checkMaximo_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>