net/ITPI.Net.Libraries/ConsoleAppClient/Service References/MaximoEprocService/EPROC_TPSCPOInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mx="http://www.ibm.com/maximo" xmlns:mxws="http://www.ibm.com/maximo/wsdl/EPROC_TPSCPOInterface" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="EPROC_TPSCPOInterface" targetNamespace="http://www.ibm.com/maximo/wsdl/EPROC_TPSCPOInterface" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.ibm.com/maximo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/maximo">
      <xsd:simpleType name="ProcessingActionType">
        <xsd:annotation>
          <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="Add" />
          <xsd:enumeration value="Change" />
          <xsd:enumeration value="Replace" />
          <xsd:enumeration value="Delete" />
          <xsd:enumeration value="AddChange" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperandModeType">
        <xsd:annotation>
          <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="OR" />
          <xsd:enumeration value="AND" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MboRelationshipType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="EventType">
        <xsd:annotation>
          <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="0|1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ChangeIndicatorType">
        <xsd:annotation>
          <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="QueryOperatorType">
        <xsd:annotation>
          <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="=" />
          <xsd:enumeration value="!=" />
          <xsd:enumeration value="&lt;" />
          <xsd:enumeration value="&lt;=" />
          <xsd:enumeration value="&gt;" />
          <xsd:enumeration value="&gt;=" />
          <xsd:enumeration value="EW" />
          <xsd:enumeration value="SW" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BooleanType">
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="0|1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MaximoVersionType">
        <xsd:annotation>
          <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="MXStringType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLangStringType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
            <xsd:attribute fixed="1" name="languageEnabled" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDoubleType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXFloatType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:float">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLongType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:long">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXIntType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBooleanType">
        <xsd:simpleContent>
          <xsd:extension base="mx:BooleanType">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDateTimeType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBinaryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXCryptoType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
            <xsd:attribute default="1" name="mxencrypted" type="mx:BooleanType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLComponentType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="glorder" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxExclusive value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLAccountType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20" name="GLCOMP" type="mx:MXGLComponentType" />
        </xsd:sequence>
        <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXDomainType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXStringQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDoubleQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXFloatQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:float">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLongQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXIntQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBooleanQueryType">
        <xsd:simpleContent>
          <xsd:extension base="mx:BooleanType">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDateTimeQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLComponentQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="glorder" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxExclusive value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLAccountQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXDomainQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:attributeGroup name="ObjectStructurePropertyGroup">
        <xsd:attribute name="action" type="mx:ProcessingActionType" use="optional" />
        <xsd:attribute name="relationship" type="xsd:string" use="optional" />
        <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="CommonContentGroup">
        <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
        <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
        <xsd:attribute name="messageID" type="xsd:string" use="optional" />
        <xsd:attribute name="maximoVersion" type="mx:MaximoVersionType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="PublishingContentGroup">
        <xsd:attribute default="0" name="event" type="mx:EventType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="QueryContentGroup">
        <xsd:attribute default="0" name="uniqueResult" type="mx:BooleanType" use="optional" />
        <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
        <xsd:attribute default="0" name="rsStart" type="xsd:integer" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="QueryClausePropertyGroup">
        <xsd:attribute name="orderby" type="xsd:string" use="optional" />
        <xsd:attribute default="AND" name="operandMode" type="mx:OperandModeType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="ResponseContentGroup">
        <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
        <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
        <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
      </xsd:attributeGroup>
      <xsd:complexType name="TPSCPO_POType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MAXINTERRORMSG" type="xsd:string" />
          <xsd:element minOccurs="0" name="DEPARTMENT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PONUM" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="POSCOPE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PURCHASEAGENT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REVISIONNUM" nillable="true" type="mx:MXLongType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="SITEID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="VENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="POLINE" type="mx:TPSCPO_POLINEType" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:ObjectStructurePropertyGroup" />
        <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="TPSCPO_POLINEType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="POLINENUM" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="PRLINENUM" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="PRNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TOSITEID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="UNITCOST" nillable="true" type="mx:MXDoubleType" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:ObjectStructurePropertyGroup" />
      </xsd:complexType>
      <xsd:complexType name="TPSCPOType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PO" type="mx:TPSCPO_POType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TPSCPOSetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO" type="mx:TPSCPO_POType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TPSCPOQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
          <xsd:element minOccurs="0" name="PO">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEPARTMENT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PONUM" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="POSCOPE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PURCHASEAGENT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REVISIONNUM" nillable="true" type="mx:MXLongQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" name="POLINE">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="POLINENUM" nillable="true" type="mx:MXLongQueryType" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOSITEID" type="mx:MXStringQueryType" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UNITCOST" nillable="true" type="mx:MXDoubleQueryType" />
                    </xsd:sequence>
                    <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:QueryClausePropertyGroup" />
      </xsd:complexType>
      <xsd:complexType name="TPSCPOCombinedKeySetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SITEID" type="mx:MXStringType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="PONUM" type="mx:MXStringType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="REVISIONNUM" nillable="true" type="mx:MXLongType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="POID" nillable="true" type="mx:MXLongType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TPSCPO" type="mx:TPSCPOType" />
      <xsd:element name="TPSCPOSet" type="mx:TPSCPOSetType" />
      <xsd:element name="TPSCPOQuery" type="mx:TPSCPOQueryType" />
      <xsd:complexType name="POKeyType">
        <xsd:sequence>
          <xsd:element name="SITEID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PONUM" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="REVISIONNUM" nillable="true" type="mx:MXLongType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="POObjectType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PONUM" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PURCHASEAGENT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ORDERDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="REQUIREDDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="FOLLOWUPDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="POTYPE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ORIGINALPONUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="STATUS" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="STATUSDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="VENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CONTACT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FREIGHTTERMS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PAYMENTTERMS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SHIPVIA" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CUSTOMERNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FOB" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SHIPTO" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SHIPTOATTN" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="BILLTO" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="BILLTOATTN" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TOTALCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="CHANGEBY" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="PRIORITY" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="HISTORYFLAG" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PO1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PO2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PO3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PO4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PO5" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PO6" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="PO7" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="PO8" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="PO9" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="PO10" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="VENDELIVERYDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="RECEIPTS" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="CURRENCYCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EXCHANGERATE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EXCHANGEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="BUYAHEAD" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="TOTALTAX1" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTALTAX2" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTALTAX3" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="INCLUSIVE1" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INCLUSIVE2" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INCLUSIVE3" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INTERNAL" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="TOTALTAX4" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTALTAX5" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="INCLUSIVE4" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INCLUSIVE5" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="STARTDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="ENDDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="PAYONRECEIPT" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="BUYERCOMPANY" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EXCHANGERATE2" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="MNETSENT" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="ECOMSTATUSDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="SOURCESYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="OWNERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EXTERNALREFID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SENDERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SITEID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ORGID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CONTRACTREFNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="POID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="CONTRACTREFID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="CONTRACTREFREV" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="CONTRELEASESEQ" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="STORELOC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="STORELOCSITEID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="INSPECTIONREQUIRED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="LANGCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="HASLD" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="REVISIONNUM" nillable="true" type="mx:MXLongType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="REVCOMMENTS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="INTERNALCHANGE" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="IGNORECNTREV" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ASTMANAGERUSER" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DEPARTMENT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DIRECTOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ISCONTRACT" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="MANAGERUSER" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="POSCOPE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PRINTED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="VENDACTDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="VENDSTARTDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="VENDUR" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="VENDURTYPE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="AXPOSENDRESPONSE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="AXPOSAVERESPONSE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="NOTE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FIXEDASSET" type="mx:MXBooleanType" />
        </xsd:sequence>
        <xsd:attribute name="action" type="mx:ProcessingActionType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="POMboKeyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PO" type="mx:POKeyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="POMboKeySetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO" type="mx:POKeyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="POMboSetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO" type="mx:POObjectType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="POMboType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PO" type="mx:POObjectType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="POMboQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
          <xsd:element minOccurs="0" name="PO">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PONUM" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PURCHASEAGENT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REQUIREDDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FOLLOWUPDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="POTYPE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORIGINALPONUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUS" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUSDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTACT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FREIGHTTERMS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYMENTTERMS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPVIA" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CUSTOMERNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FOB" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPTO" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPTOATTN" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BILLTO" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BILLTOATTN" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEBY" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PRIORITY" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="HISTORYFLAG" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO5" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO6" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO7" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO8" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO9" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO10" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDELIVERYDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="RECEIPTS" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CURRENCYCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGERATE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BUYAHEAD" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX1" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX2" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX3" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE1" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE2" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE3" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTERNAL" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX4" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX5" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE4" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE5" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STARTDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ENDDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYONRECEIPT" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BUYERCOMPANY" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGERATE2" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MNETSENT" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ECOMSTATUSDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SOURCESYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="OWNERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTERNALREFID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SENDERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRACTREFNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="POID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRACTREFID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRACTREFREV" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRELEASESEQ" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STORELOC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STORELOCSITEID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSPECTIONREQUIRED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LANGCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="HASLD" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REVISIONNUM" nillable="true" type="mx:MXLongQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REVCOMMENTS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTERNALCHANGE" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="IGNORECNTREV" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASTMANAGERUSER" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEPARTMENT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DIRECTOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISCONTRACT" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MANAGERUSER" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="POSCOPE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PRINTED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDACTDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDSTARTDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDUR" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDURTYPE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AXPOSENDRESPONSE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AXPOSAVERESPONSE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="NOTE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FIXEDASSET" type="mx:MXBooleanQueryType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:QueryClausePropertyGroup" />
      </xsd:complexType>
      <xsd:element name="POMbo" type="mx:POMboType" />
      <xsd:element name="POMboSet" type="mx:POMboSetType" />
      <xsd:element name="POMboKey" type="mx:POMboKeyType" />
      <xsd:element name="POMboKeySet" type="mx:POMboKeySetType" />
      <xsd:element name="POMboQuery" type="mx:POMboQueryType" />
      <xsd:complexType name="CreateTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="InvokeTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="QueryTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOQuery" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:QueryContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="SyncTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="PublishTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:PublishingContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="UpdateTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="DeleteTPSCPOType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="InvokeTPSCPOResponseType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="CreateTPSCPOResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="mx:POMboKeySet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="QueryTPSCPOResponseType">
        <xsd:sequence>
          <xsd:element ref="mx:TPSCPOSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:ResponseContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="SyncTPSCPOResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="DeleteTPSCPOResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="UpdateTPSCPOResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:element name="UpdateTPSCPO" type="mx:UpdateTPSCPOType" />
      <xsd:element name="QueryTPSCPO" type="mx:QueryTPSCPOType" />
      <xsd:element name="CreateTPSCPO" type="mx:CreateTPSCPOType" />
      <xsd:element name="SyncTPSCPO" type="mx:SyncTPSCPOType" />
      <xsd:element name="DeleteTPSCPO" type="mx:DeleteTPSCPOType" />
      <xsd:element name="PublishTPSCPO" type="mx:PublishTPSCPOType" />
      <xsd:element name="InvokeTPSCPO" type="mx:InvokeTPSCPOType" />
      <xsd:element name="InvokeTPSCPOResponse" type="mx:InvokeTPSCPOResponseType" />
      <xsd:element name="QueryTPSCPOResponse" type="mx:QueryTPSCPOResponseType" />
      <xsd:element name="CreateTPSCPOResponse" type="mx:CreateTPSCPOResponseType" />
      <xsd:element name="SyncTPSCPOResponse" type="mx:SyncTPSCPOResponseType" />
      <xsd:element name="UpdateTPSCPOResponse" type="mx:UpdateTPSCPOResponseType" />
      <xsd:element name="DeleteTPSCPOResponse" type="mx:DeleteTPSCPOResponseType" />
    </xsd:schema>
  </types>
  <message name="CreateTPSCPORequest">
    <part name="parameters" element="mx:CreateTPSCPO" />
  </message>
  <message name="CreateTPSCPOResponse">
    <part name="parameters" element="mx:CreateTPSCPOResponse" />
  </message>
  <portType name="EPROC_TPSCPOInterfacePortType">
    <operation name="CreateTPSCPO">
      <input message="mxws:CreateTPSCPORequest" />
      <output message="mxws:CreateTPSCPOResponse" />
    </operation>
  </portType>
  <binding name="EPROC_TPSCPOInterfaceSOAP11Binding" type="mxws:EPROC_TPSCPOInterfacePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateTPSCPO">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="EPROC_TPSCPOInterfaceSOAP12Binding" type="mxws:EPROC_TPSCPOInterfacePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateTPSCPO">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EPROC_TPSCPOInterface">
    <port name="EPROC_TPSCPOInterfaceSOAP11Port" binding="mxws:EPROC_TPSCPOInterfaceSOAP11Binding">
      <soap:address location="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface" />
    </port>
    <port name="EPROC_TPSCPOInterfaceSOAP12Port" binding="mxws:EPROC_TPSCPOInterfaceSOAP12Binding">
      <soap12:address location="http://tpsmaximo02:9086/meaweb/services/EPROC_TPSCPOInterface" />
    </port>
  </service>
</definitions>